.main-container {
  font-family: monospace;
  width: 70%;
  margin: auto;
  box-sizing: border-box;
}

.main-title {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
}

.section-title {
  font-size: 2rem;
}

.impr-sections {
  padding-bottom: 15px;
}

.impr-par {
  text-align: justify;
}

.contact {
  width: 100%;
}

#contact-form {
  width: 80%;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr /1fr 1fr;
}

#name-field {
  grid-area: 1 / 1 / 2 / 2;
}

#email-field {
  grid-area: 1 / 2 / 2 / 4;
}

#message-field {
  height: auto;
}

#message-field textarea {
  width: auto;
  height: 7rem;
}

#button {
  height: 40px;
  width: 60px;
  align-self: flex-end;
}

@media screen and (max-width: 600px) {
  .main-container {
    width: 90%;
  }
  .main-title {
    font-size: 3rem;
    text-align: left;
  }
}
