* {
  box-sizing: border-box;
/*   font-family: monospace; */
}

body {
  margin: 0;
  padding: 0;
}
/* start header */
.header {
  height: 4rem;
/*   color: whitesmoke; */
 /*  background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  font-size: 3rem;
  padding: 0.5rem;
}

.navbar a {
 /*  text-decoration: none;
  color: whitesmoke; */
  padding: 0 1rem;
  font-size: 2rem;
}

#active-html {
  color: red;
}

/* end header */
/* start home */

.landing-page {
  text-align: center;
}

.landing-gif-container img {
  width: 100%;
  height: auto;
}
.instructions {
  display: grid;
  justify-content: space-between;
  align-items: center;
}
.instructions p {
  grid-column: 1 / 3;
  grid-row: 2;
}
.play-btn {
  margin: 0.5rem 2rem;
}
.play-btn button {
  height: 2.5rem;
  cursor: pointer;
}
/* end home */
/******************************************
************START GAME********************* 
 ******************************************/

#wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game {
  margin: 1rem;
  position: relative;
  display: inline-grid;
  background: black;
  background-image: url("../images/grid-400px.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.game-status {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

#score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

#start-button {
  position: absolute;
  top: 20%;
  margin: 1rem;
  width: 12rem;
  height: 4rem;
  font-size: 1.5rem;
  cursor: pointer;
}
/* start movement buttons */
.btn {
  width: 20rem;
  height: 10rem;
  display: grid;
  grid-template-columns: 1fr 1.25fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
#left-btn {
  grid-area: 2 / 1 / 4 / 1;
}
#right-btn {
  grid-area: 2 / 3 / 4 / 3;
}
#up-btn {
  grid-area: 1 / 2 / 3 / 2;
}
#down-btn {
  grid-area: 3 / 2 / 5 / 2;
}

/* end movement buttons */
.hide {
  display: none;
}

.square {
  display: block;
}

.blank {
  /* background: black; */
}

.wall {
  /* border: 1px solid blue; */
}
.door {
  background: green;
}
.dooropen {
  background: greenyellow;
}

.dot {
  background-image: url("../images/javascript_16x16.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pill {
  background: white;
  border: 5px solid black;
  border-radius: 50%;
}

.ghost {
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border: none;
}

.ghost::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  left: 3px;
  top: 5px;
  border: 2px solid white;
}

.ghost::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  right: 3px;
  top: 5px;
  border: 2px solid white;
}

.scared {
  background: blue !important;
}

.blinky {
  background: red;
}

.pinky {
  background: pink;
}

.inky {
  background: cyan;
}

.clyde {
  background: orange;
}

.pacman {
  background: yellow;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  border: none;
  border-radius: 50%;
  clip-path: polygon(
    0 0,
    40px 0,
    40px -10px,
    16px 20px,
    40px 50px,
    40px 40px,
    0 40px
  );
  animation: chew 0.2s linear forwards infinite;
}

@keyframes chew {
  50% {
    clip-path: polygon(
      0 0,
      40px 0,
      40px 20px,
      16px 20px,
      40px 20px,
      40px 40px,
      0 40px
    );
  }
}
/******************************************
************END GAME************************ 
 ******************************************/

@media only screen and (max-width: 600px) {
  /* start header */

  .navbar {
    visibility: hidden;
    position: absolute;
    top: 4rem;
    right: 0;
    flex-direction: column;
    z-index: 1;
  }

  .navbar a {
    background-color: blue;
    display: flex;
    right: 0;
    flex-direction: column;
    text-align: right;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .burger {
    background-color: whitesmoke;
    height: 0.25rem;
    width: 2rem;
    border-radius: 3px;
    margin: 0.25rem 2rem;
  }
  /* end header */
  /* start home */

  .instructions {
    margin: 0.5rem;
  }

  /* end home */
  #game {
    margin: 1rem;
  }
  
}

@media only screen and (min-width: 600px) {
  /* start header */
  .navbar {
    visibility: visible;
    display: flex;
  }
  /* end header */
  /* start home */

  .landing-gif-container {
    margin: 0 40rem;
  }
  .instructions {
    margin: 0 40rem;
  }
  /* end home */

  /*****************
  ***START GAME*****
  ******************/
  .btn {
    visibility: hidden;
  }
  #start-button {
    top: 30%;
  }


  /*****************
  *****END GAME*****
  ******************/
}


/**********************************
*****        STATS PAGE       *****
**********************************/

.stats-title {
/*   font-size: 3rem; */
margin-top: 4rem;
  margin-bottom: 3rem;
}

.stats-message {
/*   font-size: 2rem; */
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.stats-title,
.stats-message {
  text-align: center;
}

.stats-flex-item {
  text-align: center;
}

.img-players-character {
  width: 100%;
  height: auto;
}

.img-container {
  margin: 0 20% 20% 20%;
}

.stats-table {
  width: 100%;
  height: auto;
  margin-bottom: 6rem;
}

.table-container {
  margin: 0 10% 10% 10%;
  overflow-x: auto;
}

.stats-table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.stats-table th {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1rem;
}

.stats-table tr td {
  text-align: center;
  font-size: 1rem;
}

.container-btn {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  /* start header */

  .navbar {
    visibility: hidden;
    position: absolute;
    top: 4rem;
    right: 0;
    flex-direction: column;
    z-index: 1;
  }

  .navbar a {
    background-color: blue;
    display: flex;
    right: 0;
    flex-direction: column;
    text-align: right;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .burger {
    background-color: whitesmoke;
    height: 0.25rem;
    width: 2rem;
    border-radius: 3px;
    margin: 0.25rem 2rem;
  }
  /* end header */
  /* start home */

  .instructions {
    margin: 0.5rem;
  }

  /* end home */
  #game {
    margin: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  /* start header */
  .navbar {
    visibility: visible;
    display: flex;
  }
  /* end header */
  /* start home */

  .landing-gif-container {
    margin: 0 40rem;
  }
  .instructions {
    margin: 0 40rem;
  }
  /* end home */

  /* start stats */
  .container-img-statstable {
    display: flex;
    justify-content: space-around;
  }
  .img-container {
    margin: 5%;
  }
  .table-container {
    margin-right: 5%;
  }
}
/* end stats */

/**********************************
*****    IMPRESSUM PAGE       *****
**********************************/

.main-container {
  width: 70%;
  margin: auto;
}

.main-title {
  font-weight: 600;
  /* font-size: 3rem; */
  text-align: center;
}

.section-title {
  font-size: 2rem;
}

.impr-sections {
  padding-bottom: 15px;
}

.impr-par {
  text-align: justify;
}

#contact-form {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1%;
  margin-bottom: 10%;
}

#message-field {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-right: 1%;
}

input,
textarea {
  width: 100%;
}

#button-cell {
  position: relative;
}

#button {
  height: 2.5rem;
  width: 5rem;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 600px) {
  .main-container {
    width: 90%;
  }
  .main-title {
    font-size: 3rem;
    text-align: left;
  }
}
